/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30%; /* Stay at the top */
    background-color: lightgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    background-color: coral;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .sidenav2 {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30%; /* Stay at the top */
    background-color: lightgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    background-color: coral;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav2 a:hover {
    color: #f1f1f1;
  }
  .profilimg {
    box-shadow:5px 5px 5px;
    display: block;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
  }

  .link {
    color:blue;
    background-color: lightgrey;
  }
  embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }