/* The sidebar menu */
.sidenav {
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30%; /* Stay at the top */
    background-color: lightgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    background-color: #9BB7D4;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: block;
    border-radius: 25px;

  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    background-color: #0072B5;
    color: lightgray;
  }
  


  .sidenav2 {
    height: auto; /* Full-height: remove this if you want "auto" height */
    margin: 10px 10p;
    width: 160px; /* Set the width of the sidebar */
    position: absolute; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 30%; /* Stay at the top */
    background-color: lightgray; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
  }
  
  /* The navigation menu links */
  .sidenav2 a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: black;
    background-color: #9BB7D4;
    margin: 5px;
    font-weight: bold;
    font-size: 25px;
    color: black;
    display: block;
    border-radius: 25px;

  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav2 a:hover {
    background-color: #0072B5;
    color: lightgray;
  }
  .profilimg {
    box-shadow:5px 5px 5px;
    display: block;
    max-width:100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
  }
  .link {
    color:blue;
    background-color: lightgrey;
  }
  .link:hover {
    color:rgb(2, 137, 248);
    }
  embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  
  div.gallery {
    margin: 90px;

    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid rgb(0, 0, 0);
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    box-shadow:3px 3px 3px black;
    border-radius: 25px;


  }
 /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
 @media screen and (max-width: 550px) {
  .sidenav {padding-top: 15px;}
  .sidenav {width: 70px;}
  .sidenav {top:20%}
  .sidenav a {font-size: 10px;}
  .sidenav a {text-align: center;}
  .sidenav2 {padding-top: 15px;}
  .sidenav2 {width: 70px;}
  .sidenav2 {top:20%}
  .sidenav2 a {font-size: 10px;}
  .sidenav2 a {text-align: center;}
}